    body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #c1d7ff;
    font-family: 'vera';
    overflow-x: hidden;
  }

  @font-face {
    font-family: 'vera';
    src: url('/fonts/Verahi.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }